@import './variables'; // 引用自定义变量

/* reset style---样式重置 */
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: PingFangSC-Regular, "Helvetica Neue", Helvetica, STHeiTi, 微软雅黑, sans-serif;
  line-height: 1.2rem;
  background: #F1F1F1;
  -webkit-font-smoothing: antialiased; // 更细的像素视觉效果
}
a {
  color: #999;
}

/* text and background color---定义字体和背景颜色 */
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

/* text---定义字体对齐方式 */
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important; // 强制应用
  }
}
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

/* flex---flex布局相关 */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column; // 纵向排列
}
.flex-wrap {
  flex-wrap: wrap; // 换行
}
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}
@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
.flex-grow-1 {
  flex-grow: 1;
}

/* width, height---常用宽度和高度定义 */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

/* spacing--常用边距 */
@each $typeKey, $type in $spacing-types {
  @each $sizeKey, $size in $spacing-sizes {
    // .m-1 { margin: 1rem; }
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  @each $sizeKey, $size in $spacing-sizes {
    // .mx-1 { margin-left: 1rem; margin-right: 1rem }
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    // .my-1 { margin-top: 1rem; margin-bottom: 1rem; }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      // mt-1 { margin-top: 1rem; }
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size
      }
    }
  }
}

/* button---按钮样式 */
.btn {
  border: none;
  border-radius: .1538rem;
  font-size: map-get($font-sizes, 'md') * $base-font-size;
  padding: .2rem .6rem;
}

/* 导航菜单 */
.nav {
  .nav-item {
    border-bottom: 3.0004px solid transparent; // 没有active时加上边框方便文字对齐
    padding-bottom: .2rem; // border与文字的间距
    &.active {
      border-bottom: 3.0004px solid #fff; // active时底部有边框颜色
    }
  }
}


/* sprite---精灵图相关 */
.sprite {
  background: url(../images/index.png) no-repeat 0 0; // 0 0 左上角对齐
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-blz {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-gsz {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &.sprite-zbsc {
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &.sprite-tyf {
    width: 1.5385rem;
	  height: 1.5385rem;
    background-position: 10.408% 15.517%;
  }
  &.sprite-xrzq {
    width: 1.5385rem;
	  height: 1.6154rem;
    background-position: 89.733% 1.266%;
  }
  &.sprite-rycc {
    width: 1.8462rem;
	  height: 1.5385rem;
    background-position: 36.467% 15.287%;
  }
  &.sprite-wzyd {
    width: 1.8462rem;
	  height: 1.8462rem;
    background-position: 63.3% 0.927%;
  }
  &.sprite-gzh {
    width: 1.8462rem;
	  height: 1.5385rem;
    background-position: 0 96.207%;
  }
  // &.sprite-bbjs {

  // }
  &.sprite-sq {
    width: .7692rem;
	  height: .7692rem;
    background-position: 38.577% 52.076%;
  }
}

